<section class="contact-me" id="contact-me">
    <div class="container-section">
        <div class="text-form">
            <i class="fa-regular fa-envelope fa-2xl" id="icon-envelope" onclick="showPopup()"></i>
            <h2 class="h2 contact" id="contact-heading">Contact Me</h2>
            <button class="button" onclick="window.location.href='https://drive.google.com/file/d/1q6DHBXSs7t31o1EkrRBx2yrhpvL3eqXH/view?usp=sharing'">Descargar CV</button>
        </div>
        <form action="https://formsubmit.co/escalexisayala@gmail.com" method="POST" onsubmit="showPopup(); return false;">
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
                <textarea id="message" name="message" placeholder="Mensaje"></textarea>
            </div>
            <button type="submit" class="button">Enviar</button>
        </form>
        
    </div>
  </section>