<header>
    <div class="container-header">
        <div class="content-img">
            <img src="/assets/unnamed.jpg" alt="" class="img">
            
        </div>
        <div class="content">
            <h5 class="h5">Hi, I'm</h5>
            <h1 class="h1">Alexis Ayala.</h1>
            <h2 class="h2">Software developer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa iusto corporis natus. Autem nisi tempora, explicabo ad aliquam itaque, laborum nam reiciendis esse, impedit cupiditate blanditiis natus saepe. Ducimus, eligendi!</p>
        </div>
    </div>
</header>