<header>
    <div class="container-header">
        <div class="content-img">
            <img src="/assets/unnamed.jpg" alt="" class="img">
            
        </div>
        <div class="content">
            <h5 class="h5">Hi, I'm</h5>
            <h1 class="h1">Alexis Ayala.</h1>
            <h2 class="h2">Software developer</h2>
            <p class="p2">Soy un entusiasta de la programación backend que está aprendiendo y creciendo en el mundo de la tecnología. Me apasiona la creación de aplicaciones sólidas y eficientes desde el backend, donde me concentro en entender cómo funcionan las bases de datos y cómo interactúan con el código que escribo.</p>
        </div>
    </div>
</header>