<header>
    <div class="container-header">
        <div class="content-img">
            <img src="/assets/unnamed.jpg" alt="" class="img">
            
        </div>
        <div class="content">
            <h5 class="h5">Hi, I'm</h5>
            <h1 class="h1">Alexis Ayala.</h1>
            <h2 class="h2">Software developer</h2>
            <p class="p2">"In search of the most optimal solution or learning about it."</p>
        </div>
    </div>
</header>