<main>
    <div class="container-main">
        <div class="title">
            <h3 class="h3">Recent projects</h3>
        </div>
        <div class="content-main">
            <div class="card" >
                <img src="/assets/images (1).jpg" alt="">
                <h3 class="h3">Parking management</h1>
                <p class="p">Project built for to learn OPP</p>
                <button class="button yellow">C#</button><br>
                <button class="button" onclick="window.location.href='//github.com/peterfunkk/estacionamientoMedido-repo'">View More</button>
            </div>
            <div class="card">
                <img src="/assets/images (1).jpg" alt="">
                <h3 class="h3">Login/Register</h1>
                <p class="p">Proyecto construido para el registro y logueo de un usuario</p>
                <button class="button yellow">Node js</button>
                <button class="button yellow">Express</button>
                <button class="button yellow">JsonWebToken</button>
                <button class="button yellow">Bcrypt</button>   
                <button class="button" onclick="window.location.href='//github.com/peterfunkk/login'">View More</button>
            </div>
            <!-- <div class="card">
                <img src="/assets/images (1).jpg" alt="">
                <h3 class="h3">Project1</h1>
                <p class="p">Project Description</p>
                <button class="button" >View More</button>
            </div> -->
        </div>
    </div>
</main>