<footer class="footer">   
    <div class="social-icons">
      <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #74C0FC;"></i></a>
      <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github" style="color: #74C0FC;"></i></a>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/0a1cacd7aa.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
</body>
</html>