<div class="container navbar">
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <nav class="nav">
        <li class="li"><a href="#contact-me" class="a">Contact</a></li>
        <li class="li"><a href="#" class="a">Skills</a></li>
    </nav>
</div>